/* Website Variables for the default theme*/
:root{
    --background: #FFFFFF;
    --surface: #DAE4E8;
    --primary: #5FD1D4;
    --secondary: #1C3342;
    --onBackground: var(--secondary);
    --onSurface:var(--secondary);
    --onPrimary:var(--secondary);
    --onSecondary:var(--surface);
    --site-width: 75%;
    --site-max-width: 1400px;
}

/* remove all the default margins */
*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color: var(--background);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* Remove style from all uls */
ul{
    list-style: none;
    padding: 0ox;
}

a{
    text-decoration: none;
    color: black;
}

.header-wrapper{
    font-size: large;
    font-weight: 500;
    width: var(--site-width);
    max-width: var(--site-max-width);
    margin: auto;
    padding-top: 20px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-row-gap: 100px;
}

/* THe navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}
nav > h1{
    color: var(--primary);
}

/* menu items */
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    
}

.nav-list > li{
    color: var(--secondary);
    margin-left: 55px;
}

/* Contact number */
.nav-list > .call > i {
    color: var(--surface);
}

.nav-list > .call{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary);
    padding: 5px 20px;
    margin-left: 50px;
    border-radius: 8px;
}

.nav-list > .call > i {
    padding-right: 10px;
}

.nav-list > .call > p {
    color: var(--primary);
}


/* Header Content */
.header-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
}

.intro{
    
    /* border: 2px dashed #1C3342; */
    /* height: 500px; */
}

.picture{
    /* border: 2px dashed #1C3342; */
    /* height: 500px; */
    background-color: #1C3342;
    border-top-left-radius: 100px;
}


/* Header content */
.welcome{
    margin-bottom: 30px;
}

.welcome > .hello{ 
    padding-left: 20px;
    border-left: 8px solid var(--primary);
    color: var(--secondary);
    font-weight: 600;
    letter-spacing: 2px;
    /* line-height: 32px; */

}

.welcome > .greet{ 
    padding-left: 20px;
    border-left: 8px solid var(--secondary);
    color: #57595a;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}

.intro > h1{
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 80px;
    margin-bottom: 30px;
}

.intro > p{
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 30px;
    /* line-height: 80px; */
}